{% extends 'accounts/base.html' %}
{% load static %}
{% block head_extra %}
  <link rel="stylesheet" href="{% static 'grader/css/detailedassignment.css' %}" />
{% endblock %}
{% block title %}Detailed Assignment - Gator Grader{% endblock %}
{% block content %}
<div class="detailed-assigment">
  <div class="div">
    <div class="text-wrapper">Assignment Statistics</div>
    <div class="overlap">
      <div class="text-wrapper-2">00.0 %</div>
      <div class="overlap-group">
        <div class="text-wrapper-3">00.0 %</div>
        <div class="text-wrapper-4">00.0 %</div>
        <div class="text-wrapper-5">00.0 %</div>
        <div class="text-wrapper-6">00.0 %</div>
        <img class="horizontal-divider" src="https://c.animaapp.com/m9351zqoFcLf8e/img/horizontal-divider.svg" alt="Horizontal Divider" />
        <img class="vertical-divider" src="https://c.animaapp.com/m9351zqoFcLf8e/img/vertical-divider.svg" alt="Vertical Divider" />
        <img class="img" src="https://c.animaapp.com/m9351zqoFcLf8e/img/vertical-divider.svg" alt="Vertical Divider" />
        <img class="vertical-divider-2" src="https://c.animaapp.com/m9351zqoFcLf8e/img/vertical-divider.svg" alt="Vertical Divider" />
        <img class="vertical-divider-3" src="https://c.animaapp.com/m9351zqoFcLf8e/img/vertical-divider.svg" alt="Vertical Divider" />
      </div>
      <div class="text-wrapper-7">Minimum</div>
      <div class="text-wrapper-8">Median</div>
      <div class="text-wrapper-9">Maximum</div>
      <div class="text-wrapper-10">Mean</div>
      <div class="text-wrapper-11">Std Dev</div>
    </div>
    <div class="frame-2"></div>
    <div class="GO-BACK-button">
      <div class="text-wrapper-13">GO BACK</div>
      <img class="return-icon" src="https://c.animaapp.com/m9351zqoFcLf8e/img/return-icon.svg" alt="Return Icon" />
    </div>
    <div class="text-wrapper-14">Filter Statistics By Section</div>
    <div class="text-wrapper-15">Assignment Name: 100.0 points</div>
    <div class="SECTION-DROPDOWN">
      <div class="select-sections">Select Sections...</div>
      <img class="DROPDOWN-icon" src="https://c.animaapp.com/m9351zqoFcLf8e/img/dropdown-icon.svg" alt="Dropdown Icon" />
      <img class="line" src="https://c.animaapp.com/m9351zqoFcLf8e/img/line-1-2.svg" alt="Line" />
    </div>
    <img class="horizontal-divider-2" src="https://c.animaapp.com/m9351zqoFcLf8e/img/horizontal-divider.svg" alt="Horizontal Divider" />
    <div class="text-wrapper-16">Q 1:</div>
    <div class="text-wrapper-17">Q 1:</div>
    <div class="TAG-button">
      <div class="text-wrapper-18">Click to add tags</div>
      <img class="DROPDOWN-icon-2" src="https://c.animaapp.com/m9351zqoFcLf8e/img/dropdown-icon.svg" alt="Dropdown Icon" />
      <img class="line-2" src="https://c.animaapp.com/m9351zqoFcLf8e/img/line-1.svg" alt="Line" />
    </div>
    <div class="TAG-button-2">
      <div class="text-wrapper-18">Click to add tags</div>
      <img class="DROPDOWN-icon-2" src="https://c.animaapp.com/m9351zqoFcLf8e/img/dropdown-icon.svg" alt="Dropdown Icon" />
      <img class="line-2" src="https://c.animaapp.com/m9351zqoFcLf8e/img/line-1.svg" alt="Line" />
    </div>
    <div class="text-wrapper-19">POINTS</div>
    <div class="text-wrapper-20">Question</div>
    <div class="text-wrapper-21">5.0</div>
    <div class="text-wrapper-22">5.0</div>
    <div class="STATUS-bar"></div>
    <div class="STATUS-bar-2"></div>
    <div class="text-wrapper-23">0%</div>
    <div class="text-wrapper-24">0%</div>
  </div>
</div>
{% endblock %}
