<div class="LEFT-SIDE-BAR">
  <img class="divider" src="https://c.animaapp.com/m91w337xrYzkuo/img/divider.svg" alt="Divider" />
  <img class="img" src="https://c.animaapp.com/m91w337xrYzkuo/img/divider.svg" alt="Divider" />
  <img class="user" src="https://c.animaapp.com/m91w337xrYzkuo/img/user.svg" alt="User" />
  <div class="frame"></div>
  <img class="add-class" src="https://c.animaapp.com/m91w337xrYzkuo/img/add-class.svg" alt="Add Class" />
  <img class="settings" src="https://c.animaapp.com/m91w337xrYzkuo/img/settings.svg" alt="Settings" />
  <div class="ENGR-wrapper">
    <div class="ENGR">ENGR<br />101</div>
  </div>
  <div class="course-button-5">
    <div class="ENGR">ENGR<br />102</div>
  </div>
  <div class="course-button-6">
    <div class="ENGR">ENGR<br />103</div>
  </div>
  <div class="add-class-2">
    <div class="text-wrapper-8">LOGO</div>
  </div>
 </div>
 
 
 
 