{% extends 'accounts/base.html' %}
{% load static %}
{% block head_extra %}
  <link rel="stylesheet" href="{% static 'grader/css/studentroster.css' %}" />
{% endblock %}
{% block title %}Student Roster - Gator Grader{% endblock %}
{% block content %}
<div class="student-roster">
  <div class="div">
    <div class="STUDENT-ROSTER">
      <div class="SEARCH-bar">
        <div class="text-wrapper">Search student here...</div>
        <img class="search-icon" src="https://c.animaapp.com/m92dc8mrLC3crn/img/search-icon.svg" alt="Search Icon" />
      </div>
      <div class="ID-BAR">
        <div class="text-wrapper-2">FULL NAME</div>
        <div class="text-wrapper-3">STUDENT ID</div>
        <div class="text-wrapper-4">EMAIL</div>
      </div>
      <div class="ID-BAR-2">
        <div class="text-wrapper-2">FULL NAME</div>
        <div class="text-wrapper-3">STUDENT ID</div>
        <div class="text-wrapper-4">EMAIL</div>
      </div>
      <div class="ID-BAR-3">
        <div class="text-wrapper-2">FULL NAME</div>
        <div class="text-wrapper-3">STUDENT ID</div>
        <div class="text-wrapper-4">EMAIL</div>
      </div>
      <div class="ID-BAR-4">
        <div class="text-wrapper-2">FULL NAME</div>
        <div class="text-wrapper-3">STUDENT ID</div>
        <div class="text-wrapper-4">EMAIL</div>
      </div>
      <div class="ID-BAR-5">
        <div class="text-wrapper-2">FULL NAME</div>
        <div class="text-wrapper-3">STUDENT ID</div>
        <div class="text-wrapper-4">EMAIL</div>
      </div>
      <div class="ID-BAR-6">
        <div class="text-wrapper-2">FULL NAME</div>
        <div class="text-wrapper-3">STUDENT ID</div>
        <div class="text-wrapper-4">EMAIL</div>
      </div>
      <div class="ID-BAR-7">
        <div class="text-wrapper-2">FULL NAME</div>
        <div class="text-wrapper-3">STUDENT ID</div>
        <div class="text-wrapper-4">EMAIL</div>
      </div>
      <div class="ID-BAR-8">
        <div class="text-wrapper-2">FULL NAME</div>
        <div class="text-wrapper-3">STUDENT ID</div>
        <div class="text-wrapper-4">EMAIL</div>
      </div>
      <div class="frame"></div>
      <div class="frame-2"></div>
      <div class="frame-3"></div>
      <div class="frame-4"></div>
      <div class="frame-5"></div>
      <div class="frame-6"></div>
      <div class="frame-7"></div>
      <div class="frame-8"></div>
      <div class="VIEW-button"><div class="text-wrapper-5">VIEW</div></div>
      <div class="div-wrapper"><div class="text-wrapper-5">VIEW</div></div>
      <div class="VIEW-button-2"><div class="text-wrapper-5">VIEW</div></div>
      <div class="VIEW-button-3"><div class="text-wrapper-5">VIEW</div></div>
      <div class="VIEW-button-4"><div class="text-wrapper-5">VIEW</div></div>
      <div class="VIEW-button-5"><div class="text-wrapper-5">VIEW</div></div>
      <div class="VIEW-button-6"><div class="text-wrapper-5">VIEW</div></div>
      <div class="VIEW-button-7"><div class="text-wrapper-5">VIEW</div></div>
      <button class="UPLOAD-button">
        <div class="text-wrapper-6">UPLOAD</div>
        <img class="upload-icon" src="https://c.animaapp.com/m92dc8mrLC3crn/img/upload-icon.svg" alt="Upload Icon" />
      </button>
      <button class="ADD-button">
        <div class="text-wrapper-7">ADD</div>
        <img class="add-icon" src="https://c.animaapp.com/m92dc8mrLC3crn/img/add-icon.svg" alt="Add Icon" />
      </button>
      <button class="EDIT-button">
        <div class="text-wrapper-8">EDIT</div>
        <img class="edit-icon" src="https://c.animaapp.com/m92dc8mrLC3crn/img/edit-icon.svg" alt="Edit Icon" />
      </button>
      <button class="DELETE-button">
        <div class="text-wrapper-9">DELETE</div>
        <img class="delete-icon" src="https://c.animaapp.com/m92dc8mrLC3crn/img/delete-icon.svg" alt="Delete Icon" />
      </button>
    </div>
    <p class="p">ENGR 101 - (NAME OF COURSE)</p>
    <div class="rectangle"></div>
    <div class="SIGN-button">
      <div class="text-wrapper-10">GO BACK</div>
      <img class="return-icon" src="https://c.animaapp.com/m92dc8mrLC3crn/img/return-icon.svg" alt="Return Icon" />
    </div>
  </div>
</div>
{% endblock %}
